@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

html,body{
    min-width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

header {
    position: relative;
    z-index: 1;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

nav ul {
    display: flex;
    width: 25rem;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    height: 4.9rem;
    font-size: 1rem;
    color: hsl(233, 8%, 62%);
    border-bottom: 0.16rem solid white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*Humburger menu*/

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: hsl(233, 8%, 62%);
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

.mobile-menu {
    display: none;
    position: absolute;
    padding: 0;
    top: 5em;
    left: 1.1em;
    right: 1.1em;
    margin: 0 auto;
    height: 39.5vh;
    width: 85vw;
    border-radius: 10px;
}

.mobile-menu li {
    margin-bottom: 5px;
}
.mobile-menu li a{
    text-decoration: none;
}
nav ul li::before{
    content: "";
}
nav ul li::after{
    content: "";
}

nav ul li:hover{
    cursor: pointer;
    color:hsl(233, 26%, 24%);
    border-bottom:0.3rem solid hsl(136, 65%, 51%); 
    transition: .3s ease-in-out;
}

.request-btn {
    border: none;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

/*Heros container*/
.heros-container {
    background-color: hsl(0, 0%, 98%);
    box-sizing: border-box;
    background-image: url(/images/bg-intro-desktop.svg);
    background-position: 37rem -18rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    min-width: 100%;

}
.right img{
    margin-top: -7rem;
    margin-right: -8.4rem;
    margin-bottom: -12rem;
} 
.left {
    width:35rem;
    text-align: left;
    margin-top:auto;
    margin-bottom: auto;
    padding-left: 10%;
    padding-right: 15%;
}
.left h1 {
    font-size: 3.6rem;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
    line-height: 4rem;
    margin-bottom: 3rem;
}

.left p {
    color: hsl(233, 8%, 62%);
    line-height: 1.7rem;
    margin-bottom: 3rem;
}

.left button {
    margin-bottom: 4rem;
} 


/*Feature Container*/
.feature-container{
    background-color: hsl(220, 16%, 96%);
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
}
.feature-header-text h1{
    font-size: 3rem;
    color:hsl(233, 26%, 24%);
    margin-bottom: 2rem;
}
.feature-header-text p{
    font-size: 1.5rem;
    color:hsl(233, 8%, 62%);
    margin-bottom: 1rem;
}
#feature-text-3{
    display: none;
}
.feature-inner-container{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.feature-inner-container h1{
    color:hsl(233, 26%, 24%);
    font-size: 2rem;
}
.feature-inner-container p{
    color:hsl(233, 8%, 62%);
    font-size: 1rem;
    line-height: 1.5rem;
}
.feature{
    width: 30%;
}
.feature > *{
    margin-right: 1rem;
    margin-bottom: 2rem;
}


/*Article Container*/
.article-container{
    padding: 5% 10%;
    background-color: hsl(0, 0%, 98%);
}
.article-container h1{
    color: hsl(233, 26%, 24%);
    font-size: 3rem;
    padding-bottom: 3rem;
}

.article-inner-container{
    display: flex;
    justify-content: space-between;
    
}
.article{
    width: 90%;
    background-color: hsl(0, 0%, 100%);
    margin-right: 1rem;
}
.article-inner-container img{
    width: 100%;
    height: 15rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
.article-text-container{
    padding: 2rem;
}
.article-inner-container p{
    margin-bottom: 1rem;
    color: hsl(233, 8%, 62%);
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.article-inner-container h1{
    padding: 0;
    color: hsl(233, 26%, 24%);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/*Footer */
footer{
    background-color: hsl(233, 26%, 24%);
    padding:3rem 10%;
    color:white;
    justify-content: space-between;
    display: flex;
}
.left-footer-container{
    flex:1;
    display: flex;
    justify-content: space-between;
}
.footer-option-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right-footer-container{
    flex:1;
    text-align: right;
}
.right-footer-container p{
    margin-top: 2rem;
    color:hsl(233, 8%, 62%);
}
.social-media{
    margin-top: 3rem;
}
.social-media-icon{
    padding-right: 0.5rem;
}

.social-media img:hover{
    cursor: pointer;
    filter: invert(62%) sepia(7%) saturate(3599%) hue-rotate(83deg) brightness(101%) contrast(117%);
}
.request-btn:hover{
    opacity: 0.6;
    transition: .3s ease-in;
}
.article-text-container h1:hover{
    color:hsl(136, 65%, 51%);
    cursor: pointer;
    transition: .1s;
}
.footer-option-div p:hover{
    color:hsl(136, 65%, 51%);
    cursor: pointer;
    transition: .1s;
}



/*Media Queries*/
@media screen and (max-width:950px) {

    header nav{
        display: none;
    }
    header button{
        display: none;
    }
    #feature-text-1,
    #feature-text-2{
        display: none;
    }
    .heros-container{
        flex-direction: column-reverse;
        background-image: url('/images/bg-intro-desktop.svg');
        background-position: -10rem -20rem; 
    }
    .right img{
       margin: 0;
       margin-top: -17rem;
       margin-left:5rem;
    }
    .left{
        padding: 0;
        width: auto;
        text-align: center;
    }

    .left h1{
        font-size: 3rem;
    }

    .feature-container{
        padding: 3rem 0 0 0;
        height: auto;
        align-items: center;
    }
    .feature-inner-container{
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
    }
    .feature-header-text{
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }
    .feature-header-text h1{
        font-size: 2.3rem;
    }
    .feature-header-text p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .feature{
        width: auto;
        padding-left: 1rem;
        padding-right: 1rem ;
    }
    .article-container{
        padding:3rem 0 0 0;
        height: auto;
    }
    .article-container h1{
        text-align: center;
        font-size: 2rem;
    }
    .article-inner-container{
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .article-text-container h1{
        font-size: 1.1rem;
        text-align: left;
    }
    .article-text-container p{
        font-size: 1rem;
    }
    .article{
        margin: 0 0 2rem 0;
    }
    #hamburger-icon {
        display: block;
    }
    footer{
        height: auto;
        padding: 2rem 0;
        flex-direction: column;
        align-items: center;
    }
    .left-footer-container{
        text-align: center;
        flex-direction: column;
    }
    .left-footer-container .footer-option-div{
        align-items: center;
    }
    .right-footer-container{
        text-align: center;
    }
    .footer-option-div > *{
        margin-bottom: 1rem;
    }
    .right-footer-container button{
        margin-top: 1rem;
    }
    .social-media{
        margin-bottom: 2rem;
    }
    .social-media-icon{
        margin: 0 0.5rem;
    }
}

@media screen and (max-width:450px) {
    .heros-container{
        flex-direction: column-reverse;
        background-image: url('/images/bg-intro-mobile.svg');
        background-position: -15rem -20rem; 
    }
    .right img{
       margin: 0;
       width: 25rem;
       margin-top: -9rem;
    }   
}